<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    // <!--
    document.observe("dom:loaded", function() {
      var taskTemplate = <%= generate_nested_model_template(form, :tasks).to_json %>;
      $("add_task_link").observe("click", addNestedItem("tasks", taskTemplate));
      $("tasks").delegate("click", { ".remove_task_link": removeNestedItem("task") });
      $(document.forms[0]).focusFirstElement();
    });
    // -->
  </script>
<% end %>

<%= form.error_messages %>

<div class="row">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<fieldset>
  <legend>Tasks</legend>

  <div id="tasks">
    <% form.fields_for :tasks do |fields| %>
      <%= render :partial => "task", :locals => { :fields => fields } %>
    <% end %>
  </div>

  <%= link_to "Add a task", "#", :id => "add_task_link" %>
</fieldset>
